@import "../scss/variables";

.booking {
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem;
  gap: 2rem;
  text-align: center;

  &__top {
    h1 {
      font-family: Eczar;
      font-weight: 600;
      letter-spacing: -0.01rem;
    }
    p {
      font-family: Roboto Mono;
      font-weight: 400;
      letter-spacing: 0.015em;
    }
  }

  &__contact {
    img {
      margin-inline: auto;
    }

    .loading {
      display: flex;
      justify-content: center;
      gap: 1.25rem;
      animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

      // loading animation spans
      span {
        display: block;
        position: relative;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 1000px;
        background-color: white;
      }
    }
    p {
      color: $charade;
      font-family: Roboto;
      font-size: 24px;
      line-height: 2.25rem;
    }
  }

  @media (min-width: 640px) {
    &__top {
      h1 {
        font-family: Eczar;
        font-size: 5rem;
        line-height: 5.125rem;
      }
      p {
        font-size: 1.375rem;
        line-height: 2.3125rem;
      }
    }
    &__contact {
      display: flex;
      max-width: 37.5rem;

      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;

      background: #ffffff;
      box-shadow: 0px 4px 22px rgba(52, 53, 65, 0.15);
      border-radius: 24px;
      margin: 3rem auto;
      padding: 4rem;

      p {
        max-width: 29.5rem;

        font-family: Roboto;
        font-size: 1.5rem;
        line-height: 36px;
        margin: 2.5rem 0;
      }

      .form {
        width: 100%;
        display: flex;
        text-align: left;
        flex-direction: column;
        gap: 0.625rem;
      }

      button {
        width: 100%;
        margin-top: 1.875rem;
        font-size: 1.125rem;
      }
      &__submitted {
        h1 {
          height: 22.938rem;
          padding-inline: 2.296875rem;

          font-size: 3rem;
          font-family: Eczar;

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  @media (max-width: 639px) {
    &__top {
      h1 {
        font-size: 2.4rem;
      }

      p {
        font-size: 1.375rem;
        font-weight: 400;

        margin-top: 0.66rem;
      }
    }

    &__contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;

      button {
        font-size: 1rem;
      }

      .form {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        .btn {
          margin-top: 0.75rem;
        }
      }

      &__submitted {
        h1 {
          font-family: Eczar;
          font-size: 1.4rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
