@import "../scss/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cherryRed;

  @media (min-width: 640px) {
    padding: 41px 0 41px 0;
    &__list {
      display: flex;
      align-items: center;

      gap: 16px;
      &__burger {
        display: none;
      }

      button {
        font-size: 16px;
        padding: 16px 30px 16px 30px;
      }
    }
  }

  @media (max-width: 639px) {
    padding: 2rem 1.2rem;
    .span {
      display: block;
      position: relative;

      height: 2px;
      width: 33px;
      margin-bottom: 6px;

      background-color: #5d5d67;
    }

    .span:last-child {
      margin-bottom: 0px;
    }

    li {
      display: none;
    }

    li:first-child {
      display: block;
    }
  }
}
