@import "../scss/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cherryRed;

  @media (min-width: 1024px) {
    padding: 41px 0 41px 0;
    &__list {
      display: flex;
      gap: 16px;

      &__register {
        color: $cherryRed;
        background-color: white;
        &::hover {
          background-color: white;
        }
      }

      &__burger {
        display: none;
      }
      button {
        font-size: 16px;
        padding: 16px 30px 16px 30px;
      }
    }
  }

  @media (max-width: 1039px) {
    padding: 2rem 1.2rem;
    .span {
      display: block;
      width: 33px;
      height: 2px;
      margin-bottom: 6px;
      position: relative;
      background-color: #5d5d67;
    }
    .span:last-child {
      margin-bottom: 0px;
    }
    li {
      display: none;
    }
    li:first-child {
      display: block;
    }
  }
}

main {
  padding: 3.125rem 2rem;
  background-color: $wispPink;
  text-align: center;

  .card {
    display: flex;
    flex-direction: column;
    h1 {
      font-family: "Eczar", serif;
      font-weight: 600;
    }
    p {
      font-family: "Roboto Mono", monospace;
      font-size: 22px;
      line-height: 170%;
    }
  }
  .hero {
    display: none;
  }

  @media (min-width: 1024px) {
    .card {
      max-width: 47rem;
      margin-inline: auto;
      display: flex;
      gap: 2.5625rem;
      h1 {
        font-size: 80px;
        margin-inline: 2.3125rem;
        line-height: 81px;
        letter-spacing: -0.01em;
      }
      p {
        margin-inline: 2.3125rem;
        font-family: Roboto Mono;
        font-size: 22px;
        line-height: 37px;
        letter-spacing: 0.015em;
      }
      button {
        margin-inline: auto;
        text-align: center;
        justify-self: center;
        max-width: 16rem;
      }
    }
  }

  @media (min-width: 1440px) {
    padding: 0;
    max-width: 1344px;
    margin: 0 auto;
    display: grid;
    justify-content: start;
    grid-template-columns: 54% 1fr;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      gap: 40px;
      padding: 80px;
      p {
        text-align: left;
        margin-inline: 0;
      }
      h1 {
        margin-inline: 0;
      }
      button {
        margin-inline: 0;
      }
    }

    .hero {
      display: block;
      background: url("/public/unsplash-AtPWnYNDJnM.jpg");
      height: 100%;
      background-size: cover;
      background-position: bottom;
    }
  }

  @media (max-width: 1039px) {
    .card {
      gap: 2.5625rem;
      h1 {
        font-size: 3rem;
      }
      p {
        letter-spacing: 0.015rem;
      }
    }
  }
}
