@import "../scss/variables";

main {
  padding: 3.125rem 2rem;
  background-color: $wispPink;
  text-align: center;

  .hero {
    display: none;
  }

  button {
    font-size: 1.375rem;
    font-weight: 500;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 2.5625rem;

    h1 {
      font-family: "Eczar", serif;
      font-weight: 600;
    }

    p {
      font-family: "Roboto Mono", monospace;
      font-size: 1.375rem;
      line-height: 170%;
    }
  }

  @media (min-width: 640px) {
    .card {
      max-width: 47rem;
      margin-inline: auto;
      h1 {
        font-size: 5rem;
        margin-inline: 2.3125rem;
        line-height: 5.063rem;
        letter-spacing: -0.01em;
      }
      p {
        margin-inline: 2.3125rem;
        font-family: Roboto Mono;
        font-size: 1.375rem;
        line-height: 2.3125rem;
        letter-spacing: 0.015em;
      }
      button {
        max-width: 16rem;
        margin-inline: auto;
        font-size: 1.375rem;
      }
    }
  }

  @media (min-width: 1400px) {
    padding: 0;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 55% 1fr;

    .card {
      display: flex;
      flex-direction: column;
      text-align: left;
      gap: 2.5rem;
      padding: 5rem;

      p {
        text-align: left;
        margin-inline: 0 2.5rem;
      }
      h1 {
        margin-inline: 0;
      }
      button {
        margin-inline: 0;
      }
    }

    .hero {
      display: block;
      background: url("/unsplash-AtPWnYNDJnM.jpg");
      height: 100%;
      background-size: cover;
      background-position: bottom;
    }
  }

  @media (max-width: 639px) {
    .card {
      gap: 2.5625rem;
      h1 {
        font-size: 3rem;
      }
      p {
        letter-spacing: 0.015rem;
      }
    }
  }
}
