@import "../scss/variables";

.movies {
  display: flex;
  flex-direction: column;
  gap: 1.34rem;

  &__menu {
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    &__soon {
      text-transform: uppercase;
      font-size: 1.375rem;
    }
    &__all {
      color: $cherryRed;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  &__card {
    box-shadow: 0px 24px 78px 0px #00000014;
    border-radius: 8px;
    background-color: #ffffff;

    h1 {
      font-family: Roboto;
      font-size: 2.25rem;
      font-weight: 700;
      line-height: 2.625rem;
      text-align: left;
    }
    p {
      font-family: Roboto;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.938rem;
      letter-spacing: 0.04em;
    }
  }

  @media (min-width: 640px) {
    margin: 3rem 0;

    &__menu {
      font-size: 1.375rem;
      line-height: 170%;
      letter-spacing: 0.015rem;

      .text_short {
        display: none;
      }
    }

    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2.3rem;
    }

    &__card {
      display: flex;
      align-self: stretch;
      flex-direction: column;

      gap: 1rem;
      padding: 2.25rem;

      img {
        top: 1.25rem;
        width: 100%;
        height: 12rem;
        object-fit: cover;
      }
      &:last-child {
        display: none;
      }
    }
  }

  @media (min-width: 1400px) {
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    &__card {
      &:last-child {
        display: block;
        display: flex;
        align-self: stretch;
        flex-direction: column;

        gap: 1rem;
        padding: 2.23rem;
      }
    }

    img {
      width: 100%;
      height: 12rem;
      object-fit: cover;
    }
  }

  @media (max-width: 639px) {
    padding: 1.8rem;
    &__menu {
      font-family: "Roboto Mono", monospace;
      font-weight: bold;
      font-size: 1.375rem;
      line-height: 170%;
      letter-spacing: 0.015rem;
      display: flex;
      justify-content: space-between;

      .text_full {
        display: none;
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    &__card {
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      border-radius: 0.5rem;

      h1 {
        font-size: 2rem;
        line-height: 1.3rem;
      }

      p {
        font-size: 1.125rem;
        line-height: 2rem;
        letter-spacing: 4%;
      }

      img {
        width: 100%;
        height: 10rem;
        margin-top: 1.125rem;
        margin-bottom: 1.125rem;
        object-fit: cover;
        object-position: top center;
      }
    }
  }
}
