@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@600&family=Roboto+Mono:wght@400;500&display=swap");

body {
  color: $tuna;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1.2em;
  background-color: cherryRed;

  .span {
    display: block;
    width: 33px;
    height: 2px;
    margin-bottom: 6px;
    position: relative;
    background-color: #5d5d67;
  }
  .span:last-child {
    margin-bottom: 0px;
  }
}

main {
  padding: 3.125em 2em;
  background-color: $wispPink;
  text-align: center;
  .card {
    display: flex;
    flex-direction: column;
    gap: 2.5625em;
    h1 {
      font-size: 3em;
      font-family: "Eczar", serif;
      font-weight: 600;
    }
    p {
      font-family: "Roboto Mono", monospace;

      letter-spacing: 0.015em;
      font-size: 22px;
      line-height: 170%;
    }
  }
}

.btn {
  color: #ffffff;
  background-color: $cherryRed;
  padding: 20px 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.375em;
  font-family: "Roboto Mono", monospace;
  border-radius: 1.875em;
}

.btn:hover {
  background-color: $totemPole;
}
