@import "./scss/_variables.scss";
@import "./scss/_globals.scss";

.btn {
  padding: 10px 30px;
  border: 5px solid $cherryRed;
  border-radius: 1.875em;

  color: #ffffff;
  background-color: $cherryRed;

  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;

  &:hover {
    background-color: $totemPole;
    border: 5px solid $totemPole;
  }
  &:focus {
    background-color: $totemPole;
    border: 5px solid #f47073;
  }
}

//reg for register
.reg {
  border: 0;
  color: $cherryRed;
  background-color: #ffffff;
  padding: 20px 40px;
  cursor: pointer;
  font-size: 1.375rem;
  font-family: "Roboto Mono", monospace;
}
