@import "./scss/_variables.scss";
@import "./scss/_globals.scss";
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@600&family=Roboto+Mono:wght@300;500&family=Roboto:wght@400;700&display=swap");

.btn {
  border-radius: 1.875em;
  font-size: 1.375rem;
  padding: 10px 40px;

  color: #ffffff;
  background-color: $cherryRed;
  border: 0;
  cursor: pointer;
  border: 5px solid $cherryRed;
  font-family: "Roboto Mono", monospace;

  &:hover {
    background-color: $totemPole;
    border: 5px solid $totemPole;
  }
  &:focus {
    background-color: $totemPole;
    border: 5px solid #f47073;
  }
}

.reg {
  border: 0;
  color: $cherryRed;
  background-color: #ffffff;
  padding: 20px 40px;
  cursor: pointer;
  font-size: 1.375rem;
  font-family: "Roboto Mono", monospace;
}
