@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@600&family=Roboto+Mono:wght@300;400;500&family=Roboto:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  @media (min-width: 640px) {
    padding: 0 40px 40px 40px;
  }

  max-width: 1344px;
  margin: 0 auto;
  color: $tuna;
}

input {
  display: flex;
  align-items: center;
  padding: 1em;
  padding-left: 1.4em;
  background-color: #f0f0f0;
  border-radius: 8px;
  border: 0;
  font-family: Roboto;
  font-size: 1rem;
  line-height: 21px;
  &::placeholder {
    color: $jumbo;
  }
  &:hover {
    background-color: #e5e5e5;
  }
  &:focus {
    color: #2f80ed;
    background: #2f80ed1a;
    border-color: #2f80ed;
    --tw-ring-color: #2f80ed;
    outline: 2px solid #2f80ed;
  }
}

label {
  text-align: left;
  font-family: Roboto Mono;
  color: $bittersweet;
  font-size: 0.875em;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
  text-align: left;
}
